body {
  margin: 0;
  min-width: 250px;
  font-size: 20px;
  background:rgb(3, 37, 92);

  color:rgb(204, 171, 64);
}

/*header*/
header 
{
    background: rgb(17, 94, 71);
    width:100%;
    height: 100px;
    text-align: center;
    font-size: 20px;
   
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: red;
  color: white;

}

/* Style the header */
.header {
  background-color:rgb(17, 94, 71);
  padding: 30px 40px;
  color: white;
  text-align: center;
  width: 100%;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 20%;
  background:goldenrod;
  color: rgb(17, 94, 71);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/*style list input */
li input{
  padding: 0;
  margin:auto;
  float: left;
  list-style-type: none;
}


/* Darker background-color on hover */
table tr:hover {
  background: #ddd;
}
/* Set a style for all buttons */
button {
  background-color: goldenrod;
  color:navy;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  font-size: 20px;
  font-style: bold;
}

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width:60%;
  float:right;

}

.tab{
  padding: 20px;
  box-sizing: border-box;
}

.tabcontent input{
    width:20%;
    float: right;
    height:50px;
    font-size:14px;
}
textarea{
    margin-block-start: 10px;
    width:70%;
    height:150px;
    font-size: 16px;
}


#intervention input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit]:hover {
  background-color: #45a049;

}

.container {
  border-radius: 5px;
  background-color: #211d271e;
  margin-inline-start: 10px;
  padding-inline-end: 10px;
  display: flex;
}
/* my records */

table {
  display:none;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #5a64c5
}
#records{
  background:rgba(21, 64, 192, 0.658);
  font-weight:bold;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#records label{
  background:white;
  color:green;
}
#edit ,#edit1, #edit2{
  display:none;
  height: 200px;
  
}
#redflagrecords{
  font-size: 16px;
}
span{
  margin-inline-end: 10px;
  float:right;
  color:greenyellow;
  padding: 6px;

}
#editintervention{
  display: none;
}
#editintervention input{
  /* float: left; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#editintervention button{
  width: 30%;
  font-size:16px;
  height:30px;
}
.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}
 #lat #long{
  width: 50%;

}
.map{
  height:50%;
}
#map-block{
  display: none;
  width:450px;
  height:300px;
  }
h3{
  float: right;
}
#profile{
  /* display:none; */
  float: right;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(255, 0, 255, 0.431);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}


a {
  text-decoration: none;
  font-size: 16px;
  color: fuchsia;
}

button:hover, a:hover {
  opacity: 0.7;
}
.dropbtn {
  /* background-color:rgba(99, 17, 99, 0.678); */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  font-size:16px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  
  background-color: #44333375;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(216, 162, 162, 0.2);
  z-index: 1;
  
}

.dropdown-content a {
  color:fuchsia;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

h2 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e68200, 0 0 50px #e4c2d3, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* responsiveness */
@media (max-width: 800px) {
  
}

@media screen and (max-width: 400px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
  .panel{
      position:center;
      width:100%;
      height: fit-content;
      margin-left: 0;  
      padding: 0;      
  }
  label{
      font-size:14px;
  }
  input[type=text], input[type=password] {
      width: 100%;
      padding: 5px;
      display: inline-block;
      border: none;
      background: #f1f1f1;
  }
}

@media screen and (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  button {
    background-color: goldenrod;
    color:navy;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: fit-content;
    opacity: 0.9;
    font-size: 15px;
    font-style: bold;
    display: block;
  }
  
  table {
    display:none;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th, td {
    text-align: left;
    padding: 05px;
    font-size:12px;
  }
  .container{
    width: fit-content;
  }
  #redflagrecords{
    font-size: 12px;
  }
}