body {
    /* font-family: "Lato", sans-serif; */
    color: goldenrod;
    transition: background-color .5s;
    background:rgb(55, 91, 150);
    background-repeat: no-repeat;
    background-position: center;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(168, 102, 16, 0.616);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}



@media only screen and (max-width:600px){
    body{
        color: rgb(92, 112, 177);
    } 


} 